body {
  background-image: url("files/background.png")!important;
  font-family: Tahoma, Geneva, sans-serif;
  color: #fff;
}

header {
  background-color: darkslategrey;
  height: 170px;
  border: 1px solid lightslategray;
}

#logo {
  height: 60%;
  margin-left: 15px;
  margin-top: 30px;
  border: 1px solid lightslategray;
  padding: 1px;
  float: left;
}

#title {
  float: left;
  font-size: xx-large;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: 50px;
  margin-top: 60px;
  color: #fff;
  font-weight: 400;
}

#content {
  width: 64%;
  float: left;
  margin-right: 3%;
  margin-left: 2%;
}

#content a {
  color: burlywood;
}

#content a:visited {
  color: blanchedalmond;
}

#nav-bar {
  width: 30%;
  float: left;
  border: 1px solid lightslategray;
  margin-top: 70px;
  background-color: darkslategrey;
}

#nav-bar a {
  color: burlywood;
}

#nav-bar a:visited {
  color: blanchedalmond;
}

#nav-bar > ul {
  margin-left: 3px;
}

#nav-bar > ul > li {
  margin-bottom: 8px;
  list-style-type: square;
}

#wiki-snippet {
  border: 2px solid lightslategray;
}

#wiki-snippet > p {
  margin-left: 3%;
  margin-right: 3%;
  font-style: italic;
}

code {
  font-size: large;
  background-color: darkgray;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid lightslategray;
}

img {
  border: 1px solid lightslategray;
}

footer {
  clear: both;
  font-size: smaller;
  color: dimgrey;
  opacity: 0.3;
}